<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Express Pizza</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to: I Want Pizza Meow</h1>
    <h2>Specialty Pizzas</h2>
        <ul>
            <li><a href="/specialty-pizza/pizzapick/?name=Anchovy Lover's&price=15">Anchovy Lover's</a></li>
            <li><a href="/specialty-pizza/pizzapick/?name=Paleo Pizza&price=12">Paleo Pizza</a></li>
            <li><a href="/specialty-pizza/pizzapick/?name=Dessert Pizza&price=10">Dessert Pizza</a></li>
        </ul>
    <h2>Custom Pizza</h2>
        <a href="/custom-pizza">Build your own!</a>
    <h2>Leave a review</h2>
        <a href="/review-form">Click here to leave a review</a>
    <img id="pizza-cat-img" src="../pizza-cat.webp" alt="Pizza cat">
</body>
</html>